.div_maintb1 {
  width: calc(100vw - 100px);
  overflow: scroll;
}

.div_maintb1 table {
  border-spacing: 0;
  margin-top: 10px;
}

.div_maintb1 th {
  position: sticky;
  top: 0;

  color: #d1d1d1;

  min-width: 300px;
  padding: 6px;

  font-weight: normal;
}

.div_maintb1 td {
  padding: 6px;
  color: black;
}

.div_maintb1 th:nth-child(1),
.div_maintb1 td:nth-child(1) {
  position: sticky;
  left: 0;
  border-radius: 20px;
}

.div_maintb1 th:nth-child(1) {
  z-index: 300;
}

.myselecthorse {
  margin-top: 10px;
  height: 58px;
  background: linear-gradient(289deg, #19469D 23.67%, #00A3FF 97.94%);
  border-radius: 20px;
  width: 97%;
  margin-left: 18px;

}

.myselecthorsedata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-right: 14rem; */
  /* padding-left: 1rem; */
  width: 100%;
}

.myselecthorsedata>span {
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 23px;
}

.myselectdata {
  margin-top: 15px;
  width: 97%;
  /* height: 58px; */
  /*   left: 1414px;
  top: 248px; */
  border-radius: 20px;
}

.myselectiondata {
  display: flex;
  align-items: center;
  margin-left: 17px;

}

.myselectiondata>span {
  flex: 2 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 18px;
  margin-right: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  height: 55px;
  width: 116px;
}

.myselectiondata>span:first-child {
  /* padding: 6px; */
  /* flex: 1 1; */
  text-align: center;
  /* min-width: 116px; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  /* font-weight: 700; */
  /* font-size: 21px; */
  line-height: 25px;
  /* color: #FFFFFF; */
}

.sbmtbtn>button {
  width: 186px;
  height: 51px;

  margin-top: 20px;
  top: 955px;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  border-radius: 20px;
  border: none;
  float: right;
  color: white;
  margin-right: 25px;
}

.css-1s2u09g-control {
  outline: none !important;
}

.css-1s2u09g-control:focus {
  outline: none !important;
}

.myselectiondata>span>p {
  font-size: 18px;
  padding: 2px;
}

.col-sm {
  margin: 10px;
  border-radius: 10px;
}

.css-1s2u09g-control {
  border-radius: 30px !important;
  width: 95% !important;
  height: 60px;
  margin-top: 3px;
  overflow: hidden;
}

.css-1s2u09g-control:focus {
  border-radius: 30px !important;
  width: 105% !important;

}

.css-1okebmr-indicatorSeparator {
  margin-top: 0px !important;
}

/* .css-1s2u09g-control{
grid-area: none !important;  
} */

.starstyle {
  text-align: center;
  margin-top: 14px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  color: #8f8d8d;
}

.col-sm {
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  width: max-content;
}

.placeholder {
  position: absolute;
  right: 4px;
  top: 2px;
  pointer-events: none;
  opacity: .5;
}

.input:placeholder-shown+.placeholder {
  /* if real placeholder is shown - hide fake placeholder */
  opacity: 0;
}

.importcsv {
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.UploadCSV1 {
  float: right;
}

.flexes>span:first-child {
  flex: 1;
}

.flexes>span:nth-child(2) {
  flex: 15;
}

.myselectiondata.aaaaa {
  /* background: aliceblue !important; */
  margin-left: 14px !important;
  width: 102% !important;
  /* margin-top: 1px; */
}

button.savebtnhorse {
  border: none;
  height: 50px;
  width: 95px;
  min-width: 70px;
  border-radius: 18px;
  margin-top: 15px;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  color: #fff;
}

button.removebtnhorse {
  border: none;
  height: 50px;
  width: 95px;
  border-radius: 18px;
  margin-top: 15px;
  background: #8f8d8d;

  min-width: 68px;
  color: #fff;
}

input.Remarksverdict {
  margin: 8px;
  height: 40px;
  width: 93%;
  border: none;
}

.css-b62m3t-container {
  margin-top: -13px;
}

.myselecthorsedata>span:nth-child(5) {
  margin-left: 52px;
}

.myselectiondataaddHorse>span {
  flex: 2 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 18px;
  margin-right: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  height: 55px;
  width: 116px;

}



.myselectiondataaddHorse>span input {
  border: none;
  margin: 15px;
  width: 65px;
}

.myselectiondataaddHorse {
  display: flex;

  margin-left: 17px;
}

.myselectiondataaddHorse3 {
  width: 110%;
}

.verifybtn {
  border: 1px solid #9c9999;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  color: #9c9999;
  cursor: pointer;
}

span.morePopup {
  margin-left: 166px;
}

.spanForm1 {

  margin-top: -67px !important;

  margin-right: -49px !important;
}

form .addmore1:nth-child(1) {
  margin-right: 1px;
  margin-top: 23px;
  font-size: 19px;
  padding: 0px 10px !important;
}

.pointsSelectHeader {
  display: flex;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  height: 60px;
  text-align: center;
  align-items: center;
  color: white;
  justify-content: space-around;
  border-radius: 60px;
}

.pointsForm {
  display: flex;
  margin-top: 40px;
}

.pointsForm>input {
  width: 17%;
  margin: 0px 27px;
  border: 1px solid rgb(161, 158, 158) !important;
}

.pointsForm>button {

  margin-left: 135px;
}