body {
    overflow: hidden;
}

.loginheader {
    border-radius: 0px 0px 50px 50px;
}

.SettingSec {
    border-top: unset !important;
}

.mylink {
    padding-left: 35px;
    font-weight: 600;
    font-size: 18.5949px;
    line-height: 19px;
    padding-top: 30px;
}

.accordion-button {
    padding-left: 37px !important;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 22px;
    padding-bottom: 13px;
}

.accordion-button::after {
    width: 10px;
    height: 10px;
    background-position: bottom;
}

.AccordionBody>div>.mylink {
    font-size: 14px !important;
}

li.page-item {
    margin: 0 5px;
}

a.page-item {
    border: 1px solid rgb(156, 152, 152);
    border-radius: 20px;
    background-color: rgb(156, 152, 152);
    color: #fff !important;
    padding: 5px 10px !important;
    transition: all 300ms ease-in-out !important;
}

a.page-item:hover {
    border: 1px solid #19469d !important;
    background-color: #19469d;
    transition: all 300ms ease-in-out !important;
}

a.page-item1 {
    border: 1px solid #19469d !important;
    border-radius: 20px;
    background-color: #19469d;
    color: #fff !important;
    padding: 5px 10px !important;
    transition: all 300ms ease-in-out !important;
}

.pagination {
    margin-top: 10px;
}

td.table_delete_btn1 svg:hover {
    transition: all 300ms ease-in-out !important;
    color: #19469d;
}

td.table_delete_btn1 svg {
    color: #fff !important;
    background: #2b2929;
    /* padding: 0px 20px; */
    width: 30px;
    height: 25px;
    padding: 4px;
    border-radius: 10px;
}

td.table_delete_btn1 svg:hover {
    color: #fff;
    background: #19469d;
    /* padding: 0px 20px; */
    width: 30px;
    height: 25px;
    padding: 4px;
    border-radius: 10px;
}

th {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.SubmitButton:hover {
    background: linear-gradient(89.98deg, #00A3FF 23.67%, #19469D 97.94%);
    transition: all 200ms ease-in-out !important;
}

.SubmitButton {
    transition: all 200ms ease-in-out !important;
}

.form-floating>label {
    top: -5px !important;
}

.error {
    font-size: 10px !important;
    position: absolute;
    top: 50px;
    border: 1px solid;
    padding: 0px 10px !important;
    background: red !important;
    color: #fff !important;
    border-radius: 7px !important;
}

.errorAr {
    font-size: 10px !important;
    position: absolute;
    top: 50px;
    border: 1px solid;
    padding: 0px 5px !important;
    background: red !important;
    color: #fff !important;
    border-radius: 7px !important;
}

label.Multipleownerlabel {
    box-shadow: unset !important;
}

form .addmore {
    position: relative;
    background: transparent;
    border: none;
    color: lightgray;
    margin-right: 50px;
    margin-top: 23px;
    cursor: pointer;
    padding: 0px 0px 0px 6px !important;
    font-size: 16px;
}

form .addmore:nth-child(1) {
    margin-right: 10px;
    margin-top: 23px;
    font-size: 19px;
    padding: 0px 10px !important;
}

form .addmore:hover {
    transition: all 200ms ease-in-out !important;
    color: #fff !important;
}

form span.addmore {
    background: #19469d;
    border-radius: 10px;
    padding: 2px 7px !important;
}

.modal-lg,
.modal-xl {
    --bs-modal-width: 900px;
}

.ButtonSection {
    align-items: end;
}

.modal-body .Headers {
    text-align: center;
    font-size: 25px;
}

.div_maintb table tbody td:nth-child(2) {
    padding-left: 6rem !important;
    border-radius: 20px 0 0 20px;
}

.tr_table_class td img {
    width: 40px !important;
}

.AccordionBody>div>.mylink:active {
    font-weight: 700;
}

.swal-icon--warning {
    border-color: #19469d !important;
}

.swal-icon--warning__body,
.swal-icon--warning__dot {
    background-color: #19469d !important;
}

.swal-footer {
    text-align: center;
}

.swal-button--danger {
    background-color: #19469d;
}

.swal-button--danger:hover {
    background-color: #19469d !important;
}

.swal-button {
    background-color: #19469D;
    color: #fff;
    border-color: #19469D;
}

.swal-button:hover {
    background-color: #19469D !important;
    color: #fff;
    border-color: #19469D;
}

.Header h4 {
    font-size: 25px !important;
    text-decoration: underline;
}

.rightsidedata div.Headers {
    font-size: 25px !important;
    text-decoration: underline;
}

.modal-body .rightsidedata {
    height: auto !important;
}

span.ViewCalulatedPrize111 label:hover {
    box-shadow: unset !important;
}

.css-b62m3t-container {
    width: 94% !important;
}

input#custom-switch {
    height: 25px !important;
    width: 45px !important;
    margin-top: 10px !important;
}

td:nth-child(1) {
    /* color: #fff !important; */
    font-weight: 700 !important;
}

table button.Approvedbtn.resultbtn {
    color: #fff !important;
    font-weight: 500 !important;
    background: #19469D !important;
}

table button.Approvedbtn.resultbtn {
    color: #000;
    margin-left: 0px !important;
}

.div_maintb td:last-child svg {
    color: #fff !important;
    margin-left: 2px !important;
}

.userlists td:nth-child(1) {
    color: #000 !important;
    font-weight: 700 !important;
}

.btn.show {
    background: #19469D !important;
    border-color: #19469D !important;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: unset !important;
}

.react-date-picker__calendar .react-calendar {
    border-radius: 15px;
}

.react-calendar__navigation button:disabled {
    background-color: #19469D !important;
    /* border-radius: 10px; */
    color: #fff;
    font-size: 16px !important;
    margin-left: 4px;
    margin-right: 0px !important;
    cursor: no-drop;
}

.react-calendar__navigation button:disabled:nth-child(1) {
    border-radius: 10px;
}

.react-calendar__navigation button {
    background-color: #19469D !important;
    border-radius: 10px;
    color: #fff;
    font-size: 16px !important;
    margin-right: 4px !important;
}

.react-calendar__tile--now {
    background: #19469D !important;
    color: #fff !important;
    font-weight: 800 !important;
}

.SubmitButton:disabled {
    backface-visibility: rgb(212, 212, 209);
}

.react-calendar__tile:disabled {
    background-color: #19469d26;
    color: #000;
    cursor: no-drop;
    border-radius: 15px;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000 !important;
}

.react-calendar__tile--active {
    background: #19469D;
    color: white;
    font-weight: 800 !important;
    border-radius: 15px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #19469D !important;
    color: #fff !important;
    font-weight: 800 !important;
    border-radius: 15px;
}

.react-calendar {
    width: 60% !important;
}

.resulttopheader input {
    border-radius: 10px;
    padding: 10px;
}

.resulttopheader input:focus {
    border-color: #19469D;
}

.resulttopheader .filtertextform>input {
    width: 200px;
    border: 2px solid #ddd;
}

button.Approvedbtn.resultbtn.raceimagebtn {
    float: right;
    margin: 10px 0 !important;
    background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
    border-radius: 40px;
    width: 160px;
    height: 55px;
    color: white;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.5949px;
    line-height: 19px;
}

.Prizeclass td:nth-child(1) {
    color: #000 !important;
    font-weight: 700 !important;
}

.Prizeclass td {
    padding: 10px 0;
}

button.savebtnhorse {
    height: 25px !important;
    width: 40px !important;
    min-width: 40px !important;
}

button.removebtnhorse {
    height: 25px !important;
    width: 40px !important;
    min-width: 40px !important;
}

button.removebtnhorse svg {
    width: 10px !important;
    margin-top: -5px !important;
}

.savebtnhorse svg {
    width: 20px !important;
    margin-top: -5px !important;
    margin-right: 3px;
}

.myselecthorsedata span {
    margin-right: 0px !important;
    left: 0 !important;
    width: 20% !important;
    margin-left: 0 !important;
    display: inline-flex !important;
    flex: 0 0 7.9% !important;
}

.horizontal-scroll-wrapper.squares .myselecthorse {
    width: 180% !important;
}

/* span.myedit {
    border: unset !important;
} */
.myselectiondataaddHorse1 {
    height: 300px !important;
    width: 98% !important;
}

.myselecthorsedata {
    justify-content: flex-start !important;
    width: 100%;
}

span.myedit {
    margin-right: 55px !important;
    left: 0 !important;
    width: 13% !important;
    margin-left: 0 !important;
    display: inline-flex !important;
    flex: 0 0 10% !important;
    max-width: 50% !important;
}

.horizontal-scroll-wrapper.squares .myselecthorsedata>span:nth-child(5) {
    margin-left: 0px !important;
}

.myselectiondataaddHorse {
    display: flex !important;
    margin-left: 17px !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.css-b62m3t-container {
    width: 100% !important;
}

.myedit .InputAddhorse5 {
    min-width: 180px !important;
}

.myselectiondataaddHorse>span:last-child {
    border: unset !important;
    justify-content: center;

}

/* .myselectiondataaddHorse>span:nth-last-child(3){
    border: unset !important;
} */
.myselectiondataaddHorse>span:nth-last-child(2) {
    border: unset !important;
    justify-content: center;
    margin-right: 10px !important;
}

.myselecthorsedata span.myedit:nth-last-child(1) {
    flex: 0 0 7% !important;
}

.myselectdata form {
    align-items: flex-start !important;
}

.myselectdata hr {
    display: none !important;
}

.mynew>span {
    flex: 2 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-top: 18px;
    margin-right: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    height: 55px;
    width: 116px;
    margin-right: 30px;
    flex: 0 0 12% !important;
    max-width: unset !important;
    min-width: unset !important;
    margin-right: 25px !important;
}

.mynew .form-switch {
    padding: -0.5em;
    border: none;
    margin: 0px 0px 0p;
    font-size: 25px;
    /* margin-left: 60px; */
    margin-top: 7px;
    flex: 0 0 12%;
    margin-right: 27px;
    margin-left: 12px;
    align-items: center;
    padding-top: 15px;
}

.mynew button.savebtnhorse {
    margin-top: 25px !important;
}

span.myedit:last-child {
    margin-right: 50px !important;
}

.horizontal-scroll-wrapper.squares .myselecthorse.editver {
    width: 135% !important;
}

.horizontal-scroll-wrapper.squares .myselecthorse.editver span {
    margin-right: 0px !important;
    left: 0 !important;
    width: 20% !important;
    margin-left: 0 !important;
    display: inline-flex !important;
    flex: 0 0 18% !important;
}

.myselectiondata.myselectiondataaddHorse2.editver span {
    flex: 0 0 19%;
    margin-right: 70px;
}

.css-1u9des2-indicatorSeparator {
    background-color: transparent !important;
}

.editver .css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    top: 15px;
    left: 0;
    width: 90% !IMPORTANT;
}

.editver button.savebtnhorse {
    height: 30px !important;
    width: 40px !important;
    min-width: 50px !important;
}

.editver button.removebtnhorse {
    height: 30px !important;
    width: 40px !important;
    min-width: 70px !important;
    margin-left: 5px;
}

.edditver .horizontal-scroll-wrapper.squares {
    overflow-x: auto !important;
    height: 60vh;
}

.myselectiondata.myselectiondataaddHorse2.editver {
    height: 65px !important;
}

.myselectdata.myaddver span {
    margin-right: 50px;
    flex: 0 0 20%;
}

.myselectdata.myaddver span:last-child {
    margin-right: 50px;
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
}

.myselectdata.myaddver span:nth-last-child(2) input[type="text"] {
    width: 100% !important;
    border: 1px solid #efefef !important;
    padding: 15px 15px;
    border-radius: 20px;
    margin-top: 2px !important;
}

.myselectdata.myaddver .css-13cymwt-control {
    width: 90%;
}

.myselectdata.myaddver .css-13cymwt-control {
    width: 90% !important;
}

table.calcualtedPrizeTable td:nth-child(1) {
    color: #000 !important;
    font-weight: 700 !important;
}

.myselecthorse.myresult .myselecthorsedata span {
    flex: 0 0 12.5% !important;
    margin: 0 !important;
}

.myselectiondata span.spanfordropdown {
    min-width: unset !important;
}

.myselectdata.resultsdata span {
    flex: 0 0 10% !important;
}

.myselectdata.resultsdata span {
    flex: 0 0 12% !important;
    margin-right: 40px;
}

.myselectdata.resultsdata span:last-child {
    border: unset !important;
    display: flex;
}

.myselectdata.myaddmore span {
    flex: 0 0 12%;
    margin-right: 45px;
}

.myselectdata.myaddmore span:last-child {
    margin-left: 40px;
}

@media only screen and (max-width: 1540px) {
    .myaddmore .css-b62m3t-container {
        width: 100% !important;
        font-size: 11px !important;
        line-height: 11px;
    }
    .results {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    span.css-1u9des2-indicatorSeparator {
        margin: 0 !important;
    }

    .myselectdata.myaddmore span {
        flex: 0 0 12.2%;
        margin-right: 32px;
    }

    .myselectdata.myaddmore span:last-child {
        margin-left: 0px;
    }

    .myselectdata.myaddmore span:nth-child(12) {
        margin-left: 20px;
        margin-right: 15px !important;
    }

    .css-b62m3t-container {
        width: 75% !important;
        font-size: 11px !important;
        line-height: 11px;
    }

    span.myedit {
        width: 14% !important;
        margin-right: 40px !important;
    }

    .myselectiondataaddHorse>span:nth-last-child(2) {
        border: unset !important;
        justify-content: center;
        margin-right: 30px !important;
    }

    .mynew>span {
        margin-right: 19px !important;
    }

    .myselectiondata.myselectiondataaddHorse2.editver span {
        flex: 0 0 19%;
        margin-right: 50px;
    }

    .myselectdata.myaddver span {
        margin-right: 35px;
        flex: 0 0 20%;
    }

    .myselectdata.myaddver .css-b62m3t-container {
        width: 95% !important;
        font-size: 11px !important;
        line-height: 11px;
    }

    .react-calendar {
        width: 100% !important;
    }

    .myselectdata.resultsdata span {
        flex: 0 0 15% !important;
        margin-right: 32px;
    }

    .resultsdata .css-b62m3t-container {
        width: 100% !important;
        font-size: 11px !important;
        line-height: 11px;
    }

    .resulttopheader .filtertextform>input {
        width: 390px !important;
        margin-right: 17px !important;
        margin: 10px 0px;
    }

    .resulttopheader .filtertextform {
        padding: 20px 0 !important;
        margin: 0 10px;
    }

    .resulttopheader button.filterbtn {
        margin-top: -85px !important;
    }

    .userfilter {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1440px) {
    .horizontal-scroll-wrapper.squares .myselecthorse {
        width: 182% !important;
    }
    .results {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    span.InputAddhorse5 input {
        font-size: 12px;
        width: 85px !important;
    }

    .css-b62m3t-container {
        width: 100% !important;
        font-size: 11px !important;
        line-height: 11px;
    }

    .react-calendar {
        width: 100% !important;
    }

    .resulttopheader .filtertextform>input {
        width: 345px !important;
        margin-right: 17px !important;
        margin: 10px 0px;
    }

    .resulttopheader .filtertextform {
        padding: 20px 0 !important;
        margin: 0 10px;
    }

    .resulttopheader button.filterbtn {
        margin-top: -85px !important;
    }

    .userfilter {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1370px) {
    .horizontal-scroll-wrapper.squares .myselecthorse {
        width: 185% !important;
    }
    .results {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    span.InputAddhorse5 input {
        font-size: 12px;
        width: 85px !important;
    }


    .mynew>span {
        margin-right: 22px !important;
    }

    .myselectdata.myaddver span {
        margin-right: 30px;
        flex: 0 0 20%;
    }

    .react-calendar {
        width: 100% !important;
    }

    .accordion-button::after {
        width: 35px;
        height: 10px;
        background-position: bottom;
    }

    .myselectdata.resultsdata span {
        flex: 0 0 15% !important;
        margin-right: 28px;
    }

    .resulttopheader .filtertextform>input {
        width: 285px !important;
        margin-right: 17px !important;
        margin: 10px 0px;
    }

    .resulttopheader .filtertextform {
        padding: 20px 0 !important;
        margin: 0 10px;
    }

    .resulttopheader button.filterbtn {
        margin-top: -85px !important;
    }

    .userfilter {
        display: flex;
        align-items: center;
    }

}

@media only screen and (max-width: 1280px) {
    .horizontal-scroll-wrapper.squares .myselecthorse {
        width: 190% !important;
    }
    .results {
        align-items: center;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    span.InputAddhorse5 input {
        font-size: 12px;
        width: 85px !important;
    }

    .userfilter {
        display: flex;
        align-items: center;
    }

    .css-b62m3t-container {
        width: 100% !important;
        font-size: 11px !important;
        line-height: 11px;
    }

    .myselectiondata.myselectiondataaddHorse2.editver span {
        flex: 0 0 19%;
        margin-right: 40px;
    }

    .div_maintb {
        height: 70vh !important;
    }

    .react-date-picker__button {
        margin-top: 5px;
        height: 0 !important;
    }

    .react-calendar {
        width: 100% !important;
        position: relative;
    }

    .myselectiondataaddHorse>span:nth-last-child(2) {
        border: unset !important;
        justify-content: end;
        margin-right: 30px !important;
    }

    .myselecthorse.myresult .myselecthorsedata span {
        flex: 0 0 16% !important;
        margin: 0 !important;
    }

    .myselectdata.resultsdata span {
        flex: 0 0 16% !important;
        margin-right: 29px;
    }

    .resulttopheader .filtertextform>input {
        width: 285px !important;
        margin-right: 17px !important;
        margin: 10px 0px;
    }

    .resulttopheader .filtertextform {
        padding: 20px 0 !important;
        margin: 0 10px;
    }

    .resulttopheader button.filterbtn {
        margin-top: -85px !important;
    }

    .myselectdata.myaddmore span {
        flex: 0 0 12.2%;
        margin-right: 35px;
    }

    .myselectdata.myaddmore span:nth-child(12) {
        margin-left: 0px;
        margin-right: 15px !important;
    }
}

@media only screen and (max-width : 900px) {
    p.formodal {
        display: none;
    }
}